@font-face {
    font-family: 'CantataOne-Regular';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/CantataOne/CantataOne-Regular.ttf');
}

@font-face {
    font-family: 'Franklin-Gothic-Heavy';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FranklinGothicHeavy/Franklin-Gothic-Heavy.ttf');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Karla/Karla-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Karla/Karla-Bold.ttf');
}

@font-face {
    font-family: 'MSReferenceSansSerif';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MsReferenceSansSerif/MSReferenceSansSerif.ttf');
}

@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MyriadPro/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Rubik/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Rubik/Rubik-Bold.ttf');
}